.logo {
    height: 60px;
}
.header-list-item{
    gap: 25px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header-icon-wrapper{
    gap: 30px;
}
.icon-list-wrapper{
    gap: 15px;
}
.login-button{
    padding: 8px 24px;
    background: #ffffff;
    border-radius: 8px;
}
.navbar-toggler{
    padding-right: 0;;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
@media (min-width: 992px) {
    .logo {
        order: 1;
    }

    .navbar-menu {
        order: 2;
    }

    .icon-list-wrapper {
        order: 3;
    }
}
@media screen and (max-width: 500px) {
    .logo {
        height: 50px;
    }
    .header-icon-wrapper{
        gap: 22px;
    }
    .icon-list-wrapper{
        gap: 7px;
    }
}
