#header {
    .nav-bar-wrapper {
        background-color: #f7a600;
    }

    .logo {
        height: 60px;
    }

    .header-list-item {
        gap: 25px;
    }

    .header-icon-wrapper {
        gap: 30px;

        .header-icon-item {
            width: 30px;
            height: 30px;
        }
    }

    .icon-list-wrapper {
        display: flex;
        gap: 15px;
    }

    .login-button {
        padding: 8px 24px;
        background: #ffffff;
        border-radius: 8px;
    }

    .navbar-toggler {
        padding-right: 0;;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }
}

@media (min-width: 992px) {
    #header {
        #mobile-only {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    #header {
        #mobile-only {
            display: block;
        }

        #desktop-only {
            display: none;
        }

        .list-menu-mobile {
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: #f7a600;
            padding-top: 15px;
            padding-bottom: 10px;
            z-index: 1000;

            .header-list-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #header {
        .navbar {
            padding: 0;
        }

        .logo {
            height: 50px;
        }

        .header-icon-wrapper {
            gap: 30px;

            .header-icon-item {
                width: 20px;
                height: 20px;
            }
        }

        .icon-list-wrapper {
            gap: 7px;
        }

        .list-menu-mobile {
            .header-list-item {
                .text-size-normal {
                    font-size: 12px;
                }
            }
        }
    }
}
